:root {
    --black: #222222;
    --dark-pink: #F16D7F;
    --light-pink: #F1E4E6;
    --sales-bkg-color: #534947;
    --catalog-text-grey: #5D5D5D;
    --catalog-card-bkg: #F8F8F8;
}
body {
    font-family: 'Lato', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
.header {
    background-color: var(--black);
    position: relative;
}
.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__wrp-logo {
    display: flex;
}
.head__form {
    position: relative;
}
.header__logo {
    margin: 0 41px 0 0;
}
.header__loupe:hover,
.header__loupe:focus {
    opacity: 0.2;
    cursor: pointer;
}
.header__list-logo {
    display: flex;
}
.header__list {
    display: flex;
}
ol, ul {
    list-style: none;
}
.header__button {
    border: none;
    background-color: transparent;
}
.header__link {
    margin: 0 0 0 34px;
}
.header__nav {
    background-color: #FFFFFF;
    flex-direction: column;
    position: absolute;
    right: 21%;
    top: 100%;
    height: 764px;
    width: 232px;
    display: none;
}
.header__nav-title{
    text-transform: uppercase;
    margin: 37px 0 0 34px;
}
.header__nav:hover {
    display: block;
}
.header__button:focus+ .header__nav {
    display: block;
}
.nav-sub-item {
    text-decoration: none;
    margin: 24px 0 0 33px;
}
.nav-sub-item__title {
    text-transform: uppercase;
    color: var(--dark-pink);
    text-decoration: none;
}
.nav-sub-item__list {
    margin: 12px 0 20px 23px;
}
.nav-sub-item__item {
    margin: 0 0 11px 0;
}
.nav-sub-item__link {
    text-decoration: none;
    color: #6F6E6E;
}
.header__button {
    border: none;
    background-color: transparent;
}
.main {
    display: block;
}
.brand {
    display: flex;
    margin: 0 0 62px 0;
}

.brand__title-wrp {
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding: 0 0 0 92px;
    background-color: #F1E4E6;
}
.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #222222;
    position: relative;
}
.brand__title:before {
    content: "";
    background-image: url(/Lesson-2/img/brand-dekor.png);
    width: 12px;
    height: 92px;
    position: absolute;
    left: -30px;
    top: 3px;
}
.brand__subtitle {
    display: block;
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
}
 
.brand__subtitile-pink {
    color: var(--dark-pink);
}
.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sales__item {
    width: 360px;
    height: 260px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #534947;
}
.sales__item-text-pink {
    font-size: 24px;
    font-weight: 700;
    color: #F16D7F;
}
.sales__item--women {
    background-image: url(/Lesson-2/img/sales-woman.jpg);
}
.sales__item--men {
    background-image: url(/Lesson-2/img/sales-man.jpg);
}
.sales__item--kids {
    background-image: url(/Lesson-2/img/sales-child.jpg);
}
.sales__item--accesories {
    background-image: url(/Lesson-2/img/sales-luxury.jpg);
    width: 100%;
    margin: 20px 0 97px 0;
}
.catalog {
    text-align: center;
}
.catalog__title {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.catalog__text {
    color: #9F9F9F;
}
.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0 48px 0;
}
.catalog__item {
    width: 360px;
    height: 581px;
    text-align: initial;
    margin: 0 0 30px 0;
    background-color: #F8F8F8;
}
.catalog__wrap-overlay {
    position: relative;
}
.catalog__wrap-overlay:before {
    display: none;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.catalog__button:before {
    display: none;
}
.catalog__item:hover .catalog__button,
.catalog__item:hover .catalog__wrap-overlay:before {
    display: block;
}
.catalog__item-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 25px 0 12px 0;
}
.catalog__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding: 0 0 18px 0;
}
.catalog__item-text-pink {
    color: #F16D7F;
    padding: 0 0 20px 0;
}
.catalog__button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    background-color: transparent;
    padding: 14px 14px 14px 30px;
    border: 1px solid;
    border-color: #FFFFFF;
    background-image: url(/Lesson-2/img/shopping-cart.png);
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
}
.catalog__link {
    border: 1px solid;
    border-color: #F16D7F;
    padding: 14px 38px;
    text-decoration: none;
    display: inline-block;
    margin: 0 0 95px 0;
    color: #F16D7F;
    transition-duration: 1s;
}
.about-us {
    background-color: #222222;
    min-height: 341px;
}
.about-us__list {
    display: flex;
    text-align: center;
    padding: 103px 0 103px 0;
}
.about-us__item {
    margin-left: 30px;
}
.about-us__img {
    height: 42px;
}

.about-us__item-title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin: 28px 0 16px 0;
}
.about-us__item-text {
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #FBFBFB;
    opacity: 0.7;
}

.footer__bkg {
    background-image: url(/Lesson-2/img/promotion-fon.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.footer__feedback {
    display: flex;
    justify-content: space-between;
}

.footer__feedback-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 87px 0 130px 0;
}
.footer__feedback-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.footer__application {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 557px;
    align-items: center;
}

.footer__application-title {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 32px 0;
}
.footer__application-title-bold {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
}
.footer__application-form {
    display: flex;
}
.footer__application-input {
    width: 256px;
    height: 49px;
    box-sizing: border-box;
    border-radius: 25px 0px 0 25px;
    padding: 0 65px 0 25px;
    background-color: #E1E1E1;
    border: none;
}
.footer__application-button {
    width: 100px;
    border-radius: 0 25px 25px 0;
    color: #FFFFFF;
    background-color: #F16D7F;
    border: none;
    transition-duration: 1s;
}
.copyright-bkg {
    background-color: #222222;
}
.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    background-color: #222222;
}
.footer__copyright-text {
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.footer__copyright-list {
    display: flex;
}
.footer__copyright-item {
    margin: 0 0 0 7px;
}

.registration {
    background-color: #F8F3F4;
    min-height: 148px;
}
.registration__title {
    text-transform: uppercase;
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
    padding: 60px 0 0 0;
}
.loyality {
    background-color: #FFFFFF;
}
.loyality__wrp {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 0 0;
}
.loyality__form {
    display: flex;
    flex-direction: column;
    width: 360px;
}
.loyality__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.loyality__input {
    width: 360px;
    height: 44px;
    margin: 20px 0 0 0;
    border: 1px solid #A4A4A4;
    padding: 0 0 0 17px;
}
.loyality__wrp-input {
    margin: 33px 0 35px 23px;
}
[type="radio"] {
    display: none;
}
.loyality__label {
    position: relative;
    margin: 0 47px 0 0;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.loyality__label:before {
    content: "";
    position: absolute;
    border: 1px solid #A4A4A4;
    border-radius: 20px;
    width: 17px;
    height: 17px;
    left: -27px;
    top: -2px;
}
.loyality__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.loyality__text-form {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px 0;
    width: 360px;
}
.loyality__button {
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 16px 66px 16px 29px;
    background-color: #F16D7F;
    position: relative;
    margin: 0 0 96px 0;
    border: none;
}
.loyality__button:before {
    content: "";
    background-image: url(/Lesson-2/img/check.png);
    position: absolute;
    width: 17px;
    height: 10px;
    right: 30px;
    top: 18px;
}
.loyality__info {
    width: 652px;
}
.loyality__title-info {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.loyality__text-info {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 22px 0 22px 0;
}
.loyality__list {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding: 0 0 0 43px;
}
.loyality__item {
    margin: 0 0 16px 0;
    position: relative;
}
.loyality__item:before {
    content: "";
    background-image: url(/Lesson-2/img/Vector.png);
    width: 20px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: -43px;
}

