.nav-sub-item {
    text-decoration: none;
    margin: 24px 0 0 33px;
}
.nav-sub-item__title {
    text-transform: uppercase;
    color: $dark-pink;
    text-decoration: none;
}
.nav-sub-item__list {
    margin: 12px 0 20px 23px;
}
.nav-sub-item__item {
    margin: 0 0 11px 0;
}
.nav-sub-item__link {
    text-decoration: none;
    color: #6F6E6E;
}